body {
    background-color: #1d2228;
    color: #e1e2e2;
}

table {
    text-align: left;
    position: relative;
}

th {
    background: #1d2228;
    position: sticky;
    top: 0;
}

tr:hover {
    background-color: #34a95680;
}

.options-container {
    position: absolute;
    max-height: 84px;
    overflow-y: auto;
    background-color: white;
    color: black;
    padding: 2px;
    border: 2px solid #1d2228;
    cursor: pointer;
    z-index: 1;
}
.option {
    padding: 2px;
}
.option:hover {
    background-color: #34a95680;
}
.selected-row {
    background-color: #34a95680;
}
.pointer {
    cursor: pointer;
}

.feature-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.flex-justify {
    display: flex;
    justify-content: space-between;
}
